body {
   margin: 0;
}

.bloc-variable{
  
    background-image: url(img/imgfond.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 20cm; 
    filter: blur(2.5px);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0px;

}

.logo{
    width : auto;
    height : auto;
    padding-top: 5%;
    max-width : 25cm;
    max-height : 5cm;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: -300px;
    
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20cm;
}

.fond{
    background-image: url(img/fond.svg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;


}

.menu-bar {
    border-radius: 50px;
    height: fit-content;
    display: inline-flex;
    background-color: #FBAE3C;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 10px;
    margin-top: -31px;
}
.menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}
.menu-bar li:hover {
    color: rgb(253, 253, 253);
}
.menu-bar li:hover::before {
    background: linear-gradient(to bottom, #422323, #bf1b1b);
    box-shadow: 0px 3px 20px 0px rgb(13, 13, 13);
    transform: scale(1.2);
}


