


/* loading */
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.lettre{
    color: #1f6536;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation:flash 1.2s linear infinite;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes flash{
    0%{
        color: #f2bb16;
        text-shadow: 0 0 7px #f2bb16;
    }

    90%{
        color: #1f6536;
        text-shadow: none;
    }

    100%{
        color: #f2bb16;
        text-shadow: 0 0 7px #f2bb16;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}

.lettre:nth-child(2){
    animation-delay: 0.2s;
}

.lettre:nth-child(3){
    animation-delay: 0.3s;
}

.lettre:nth-child(4){
    animation-delay: 0.4s;
}

.lettre:nth-child(5){
    animation-delay: 0.5s;
}

.lettre:nth-child(6){
    animation-delay: 0.6s;
}

.lettre:nth-child(7){
    animation-delay: 0.7s;
}

.lettre:nth-child(8){
    animation-delay: 0.8s;
}

.lettre:nth-child(9){
    animation-delay: 0.9s;
}

.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out{
    opacity: 0;
    transition: opacity 0.4s ease-out;
}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #012f04, #39f662);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #012f04, #39f662);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #24251a;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: linear-gradient(270deg, #072e09, #39f662);	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #072e09, #39f662);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: linear-gradient(200deg, #072e09, #39f662);
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #072e09;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #019508;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #072e09;
	box-shadow: 0px 2px 2px #019508;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #019508;
	outline: none;
}


.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}
a{
	color: white;
    font-family: sans-serif;
    font-weight: bold; 
    text-decoration : none;
}
.but{
	background-color: #012f04;
	min-width: 2.25rem;
  min-height: 2.25rem;
  border-radius: 9999px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.875;
  border: none;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}





